<!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
	<meta charset="utf-8">
	<title>{%block title%}E-Commerce{% endblock %}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" href="{% static 'assets/css/bootstrap.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/bootstrap.min.css' %}" media="screen" />
	<link rel="stylesheet" href="{% static 'assets/custom.min.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/extra.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/masks/jquery-ui/jquery-ui.css' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/fonts/glyphicons-halflings-regular.woff2' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/fonts/glyphicons-halflings-regular.woff' %}" media="screen" />
    <link rel="stylesheet" href="{% static 'assets/fonts/glyphicons-halflings-regular.ttf' %}" media="screen" />

</head>
<body>
    <div class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a href="{% url 'index' %}" class="navbar-brand">E-Commerce</a>
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse" id="navbar-main">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{% url 'index' %}">
                            <span class="glyphicon glyphicon-home"></span>
                            Início
                        </a>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="{% url 'catalog:product_list' %}" id="download">
                            Categorias
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="download">
                            {% for category in categories %}
                                <li><a href="{{ category.get_absolute_url }}">{{ category }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
			        <li>
				        <a href="{% url 'contact' %}">
                            <span class="glyphicon glyphicon-envelope"></span>
                            Contato
                        </a>
			        </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'checkout:cart_item' %}">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Carrinho

                        </a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" id="download" href="{% url 'accounts:index' %}">
                                <span class="glyphicon glyphicon-user"></span>
                                Olá, {{ user }}
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="download">
                                <li><a href="{% url 'accounts:index' %}">Painel</a></li>
                                <li><a href="{% url 'checkout:order_list' %}">Meus pedidos</a></li>
                                <li><a href="{% url 'accounts:update_password' %}">Atualizar Senha</a></li>
                                <li><a href="{% url 'accounts:update_user' %}">Atualizar Dados</a></li>
                            </ul>
                        </li>
                        <li>
                            <a href="{% url 'logout' %}">
                                <span class="glyphicon glyphicon-log-out"></span>
                                Sair
                            </a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Entrar
                            </a>
                        </li>
                        <li><a href="{% url 'accounts:register' %}">
                                <span class="glyphicon glyphicon-pencil"></span>
                                Cadastrar

                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="container margin-top">
        {% block messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endblock %}
		{% block container %}{% endblock %}
		<footer>
			<div class="row">
			    <div class="col-lg-12">
			        <ul class="list-unstyled">
                        <li class="pull-right"><a href="#top">Voltar ao Topo</a></li>
                        <li><a href="{% url 'index' %}">Início</a></li>
                        <li><a href="{% url 'catalog:product_list' %}">Produtos</a></li>
                        <li><a href="{% url 'contact' %}">Contato</a></li>
			        </ul>
			    </div>
			</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{% static 'assets/masks/jquery.mask.min.js' %}"></script>
    <script src="{% static 'assets/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/masks/jquery-ui/jquery-ui.js' %}"></script>
    <script src="{% static 'assets/masks/masks.js' %}"></script>
    {% block scripts %}{% endblock %}
</body>
</html>