{% extends "base.html" %}

{% load pagination %}

{% block title %}{{ current_category }} | {{ block.super }}{% endblock %}

{% block container %}
    <ol class="breadcrumb">
        <li><a href="{% url 'accounts:index' %}">Início</a></li>
        <li class="active">{{ current_category }}</li>
    </ol>
    <div class="container">
        <div class="page-header">
            <h1>{{ current_category }}</h1>
        </div>
        <div class="row">
            {% for product in product_list %}
                {% include "catalog/_product.html" %}
            {% endfor %}
        </div>
    </div>
{% pagination request paginator page_obj %}
{% endblock %}